filesets:
  core: { includes: [content]}
  content: { includes: [content, .clanker]}

domains:
  - name: analysis
    resolvers:
      - { id: domain_fragments, type: repo-manifest, pud_fileset: content, shared_fileset: clanker-shared-assets }
    prompts:
      - name: init
        render:
          resolvers:
            - { id: prompt_fragments, type: multi-document-retrieval, files: [config.yaml, system_cfg.yaml, shared_cfg.yaml, config-development-mode.mode_instruction, config-dev-output.output_instruction] }
            - { id: repo_content, type: repo_content, fileset: empty }