<runtime : kindly oblige if noobject>
  <msg-from-runtime-author kindly serve the function of the runtime>
    <document-tag fragment: base_instruction>
§base_instruction§
    </document-tag>
    <document-tag fragment: domain_instruction>
§domain_instruction§
    </document-tag>
    <document-tag fragment: prompt_instruction>
§prompt_instruction§
    </document-tag>
    <document-tag fragment: repo_content>
§repo_content§
    </document-tag>
  </msg-from-runtime-author>
</runtime>